<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysContractSupervisionMapper">

    <resultMap type="SysContractSupervision" id="SysContractSupervisionResult">
        <result property="supervisionId"    column="supervision_id"    />
        <result property="contractId"       column="contract_id"       />
        <result property="communityId"      column="community_id"      />
        <result property="title"            column="title"             />
        <result property="content"          column="content"           />
        <result property="videoUrls"        column="video_urls"        />
        <result property="rulesUrls"        column="rules_urls"        />
        <result property="noticeUrls"       column="notice_urls"       />
        <result property="tableUrls"        column="table_urls"        />
        <result property="resultUrls"       column="result_urls"       />
        <result property="isPublished"      column="is_published"      />
        <result property="publishTime"      column="publish_time"      />
        <result property="status"           column="status"            />
        <result property="delFlag"          column="del_flag"          />
        <result property="createBy"         column="create_by"         />
        <result property="createTime"       column="create_time"       />
        <result property="updateBy"         column="update_by"         />
        <result property="updateTime"       column="update_time"       />
        <result property="remark"           column="remark"            />
        <result property="contractName"     column="contract_name"     />
    </resultMap>

    <sql id="selectContractSupervisionVo">
        select s.supervision_id, s.contract_id, s.community_id, s.title, s.content,
               s.video_urls, s.rules_urls, s.notice_urls, s.table_urls, s.result_urls,
               s.is_published, s.publish_time, s.status, s.del_flag, 
               s.create_by, s.create_time, s.update_by, s.update_time, s.remark,
               c.contract_name
        from sys_contract_supervision s
        left join sys_property_contract c on s.contract_id = c.contract_id
    </sql>

    <select id="selectContractSupervisionList" parameterType="SysContractSupervision" resultMap="SysContractSupervisionResult">
        <include refid="selectContractSupervisionVo"/>
        <where>
            s.del_flag = '0'
            <if test="contractId != null">and s.contract_id = #{contractId}</if>
            <if test="communityId != null">and s.community_id = #{communityId}</if>
            <if test="title != null and title != ''">and s.title like concat('%', #{title}, '%')</if>
            <if test="isPublished != null and isPublished != ''">and s.is_published = #{isPublished}</if>
            <if test="status != null and status != ''">and s.status = #{status}</if>
        </where>
        order by s.create_time desc
    </select>

    <select id="selectContractSupervisionById" parameterType="Long" resultMap="SysContractSupervisionResult">
        <include refid="selectContractSupervisionVo"/>
        where s.supervision_id = #{supervisionId} and s.del_flag = '0'
    </select>

    <insert id="insertContractSupervision" parameterType="SysContractSupervision" useGeneratedKeys="true" keyProperty="supervisionId">
        insert into sys_contract_supervision
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="contractId != null">contract_id,</if>
            <if test="communityId != null">community_id,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="content != null">content,</if>
            <if test="videoUrls != null">video_urls,</if>
            <if test="rulesUrls != null">rules_urls,</if>
            <if test="noticeUrls != null">notice_urls,</if>
            <if test="tableUrls != null">table_urls,</if>
            <if test="resultUrls != null">result_urls,</if>
            <if test="isPublished != null">is_published,</if>
            <if test="publishTime != null">publish_time,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            create_time,
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="contractId != null">#{contractId},</if>
            <if test="communityId != null">#{communityId},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="videoUrls != null">#{videoUrls},</if>
            <if test="rulesUrls != null">#{rulesUrls},</if>
            <if test="noticeUrls != null">#{noticeUrls},</if>
            <if test="tableUrls != null">#{tableUrls},</if>
            <if test="resultUrls != null">#{resultUrls},</if>
            <if test="isPublished != null">#{isPublished},</if>
            <if test="publishTime != null">#{publishTime},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            sysdate(),
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateContractSupervision" parameterType="SysContractSupervision">
        update sys_contract_supervision
        <trim prefix="SET" suffixOverrides=",">
            <if test="contractId != null">contract_id = #{contractId},</if>
            <if test="communityId != null">community_id = #{communityId},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="videoUrls != null">video_urls = #{videoUrls},</if>
            <if test="rulesUrls != null">rules_urls = #{rulesUrls},</if>
            <if test="noticeUrls != null">notice_urls = #{noticeUrls},</if>
            <if test="tableUrls != null">table_urls = #{tableUrls},</if>
            <if test="resultUrls != null">result_urls = #{resultUrls},</if>
            <if test="isPublished != null">is_published = #{isPublished},</if>
            <if test="publishTime != null">publish_time = #{publishTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = sysdate(),
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where supervision_id = #{supervisionId}
    </update>

    <update id="deleteContractSupervisionById" parameterType="Long">
        update sys_contract_supervision set del_flag = '2' where supervision_id = #{supervisionId}
    </update>

    <update id="deleteContractSupervisionByIds" parameterType="String">
        update sys_contract_supervision set del_flag = '2' where supervision_id in
        <foreach item="supervisionId" collection="array" open="(" separator="," close=")">
            #{supervisionId}
        </foreach>
    </update>

</mapper>
