<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysGeneralMeetingMapper">
    
    <resultMap type="SysGeneralMeeting" id="SysGeneralMeetingResult">
        <result property="meetingId"    column="meeting_id"    />
        <result property="title"    column="title"    />
        <result property="calendarInfo"    column="calendar_info"    />
        <result property="announcement"    column="announcement"    />
        <result property="status"    column="status"    />
        <result property="onlineVoteResult"    column="online_vote_result"    />
        <result property="offlineVoteResult"    column="offline_vote_result"    />
        <result property="voiceVoteResult"    column="voice_vote_result"    />
        <result property="finalResolution"    column="final_resolution"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysGeneralMeetingVo">
        select meeting_id, title, calendar_info, announcement, status, online_vote_result, offline_vote_result, voice_vote_result, final_resolution, del_flag, create_by, create_time, update_by, update_time, remark from sys_general_meeting
    </sql>

    <select id="selectSysGeneralMeetingList" parameterType="SysGeneralMeeting" resultMap="SysGeneralMeetingResult">
        <include refid="selectSysGeneralMeetingVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="calendarInfo != null  and calendarInfo != ''"> and calendar_info = #{calendarInfo}</if>
            <if test="announcement != null  and announcement != ''"> and announcement = #{announcement}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="onlineVoteResult != null  and onlineVoteResult != ''"> and online_vote_result = #{onlineVoteResult}</if>
            <if test="offlineVoteResult != null  and offlineVoteResult != ''"> and offline_vote_result = #{offlineVoteResult}</if>
            <if test="voiceVoteResult != null  and voiceVoteResult != ''"> and voice_vote_result = #{voiceVoteResult}</if>
            <if test="finalResolution != null  and finalResolution != ''"> and final_resolution = #{finalResolution}</if>
        </where>
    </select>
    
    <select id="selectSysGeneralMeetingByMeetingId" parameterType="Long" resultMap="SysGeneralMeetingResult">
        <include refid="selectSysGeneralMeetingVo"/>
        where meeting_id = #{meetingId}
    </select>

    <insert id="insertSysGeneralMeeting" parameterType="SysGeneralMeeting" useGeneratedKeys="true" keyProperty="meetingId">
        insert into sys_general_meeting
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="calendarInfo != null">calendar_info,</if>
            <if test="announcement != null">announcement,</if>
            <if test="status != null">status,</if>
            <if test="onlineVoteResult != null">online_vote_result,</if>
            <if test="offlineVoteResult != null">offline_vote_result,</if>
            <if test="voiceVoteResult != null">voice_vote_result,</if>
            <if test="finalResolution != null">final_resolution,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="calendarInfo != null">#{calendarInfo},</if>
            <if test="announcement != null">#{announcement},</if>
            <if test="status != null">#{status},</if>
            <if test="onlineVoteResult != null">#{onlineVoteResult},</if>
            <if test="offlineVoteResult != null">#{offlineVoteResult},</if>
            <if test="voiceVoteResult != null">#{voiceVoteResult},</if>
            <if test="finalResolution != null">#{finalResolution},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysGeneralMeeting" parameterType="SysGeneralMeeting">
        update sys_general_meeting
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="calendarInfo != null">calendar_info = #{calendarInfo},</if>
            <if test="announcement != null">announcement = #{announcement},</if>
            <if test="status != null">status = #{status},</if>
            <if test="onlineVoteResult != null">online_vote_result = #{onlineVoteResult},</if>
            <if test="offlineVoteResult != null">offline_vote_result = #{offlineVoteResult},</if>
            <if test="voiceVoteResult != null">voice_vote_result = #{voiceVoteResult},</if>
            <if test="finalResolution != null">final_resolution = #{finalResolution},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where meeting_id = #{meetingId}
    </update>

    <delete id="deleteSysGeneralMeetingByMeetingId" parameterType="Long">
        delete from sys_general_meeting where meeting_id = #{meetingId}
    </delete>

    <delete id="deleteSysGeneralMeetingByMeetingIds" parameterType="String">
        delete from sys_general_meeting where meeting_id in 
        <foreach item="meetingId" collection="array" open="(" separator="," close=")">
            #{meetingId}
        </foreach>
    </delete>
</mapper>