<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysHandoverMapper">
    
    <resultMap type="SysHandover" id="SysHandoverResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectSysHandoverVo">
        select id, title, content, status, create_time from sys_handover
    </sql>

    <select id="selectHandoverList" parameterType="SysHandover" resultMap="SysHandoverResult">
        <include refid="selectSysHandoverVo"/>
        <where>
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%')</if>
        </where>
    </select>

</mapper>