<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysMeetingNoticeMapper">
    
    <resultMap type="SysMeetingNotice" id="SysMeetingNoticeResult">
        <result property="noticeId"    column="notice_id"    />
        <result property="meetingId"    column="meeting_id"    />
        <result property="userId"    column="user_id"    />
        <result property="userName"    column="user_name"    />
        <result property="voteOption"    column="vote_option"    />
        <result property="voteType"    column="vote_type"    />
        <result property="flieUrl"    column="flie_url"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectSysMeetingNoticeVo">
        select notice_id, meeting_id, user_id, user_name, vote_option, vote_type, flie_url, update_time, create_time from sys_meeting_notice
    </sql>

    <select id="selectSysMeetingNoticeList" parameterType="SysMeetingNotice" resultMap="SysMeetingNoticeResult">
        <include refid="selectSysMeetingNoticeVo"/>
        <where>  
            <if test="meetingId != null "> and meeting_id = #{meetingId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="voteOption != null "> and vote_option = #{voteOption}</if>
            <if test="voteType != null "> and vote_type = #{voteType}</if>
            <if test="flieUrl != null  and flieUrl != ''"> and flie_url = #{flieUrl}</if>
        </where>
    </select>
    
    <select id="selectSysMeetingNoticeByNoticeId" parameterType="Long" resultMap="SysMeetingNoticeResult">
        <include refid="selectSysMeetingNoticeVo"/>
        where notice_id = #{noticeId}
    </select>
        
    <insert id="insertSysMeetingNotice" parameterType="SysMeetingNotice" useGeneratedKeys="true" keyProperty="noticeId">
        insert into sys_meeting_notice
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="meetingId != null">meeting_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="userName != null">user_name,</if>
            <if test="voteOption != null">vote_option,</if>
            <if test="voteType != null">vote_type,</if>
            <if test="flieUrl != null">flie_url,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="meetingId != null">#{meetingId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="userName != null">#{userName},</if>
            <if test="voteOption != null">#{voteOption},</if>
            <if test="voteType != null">#{voteType},</if>
            <if test="flieUrl != null">#{flieUrl},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateSysMeetingNotice" parameterType="SysMeetingNotice">
        update sys_meeting_notice
        <trim prefix="SET" suffixOverrides=",">
            <if test="meetingId != null">meeting_id = #{meetingId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="voteOption != null">vote_option = #{voteOption},</if>
            <if test="voteType != null">vote_type = #{voteType},</if>
            <if test="flieUrl != null">flie_url = #{flieUrl},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where notice_id = #{noticeId}
    </update>

    <delete id="deleteSysMeetingNoticeByNoticeId" parameterType="Long">
        delete from sys_meeting_notice where notice_id = #{noticeId}
    </delete>

    <delete id="deleteSysMeetingNoticeByNoticeIds" parameterType="String">
        delete from sys_meeting_notice where notice_id in 
        <foreach item="noticeId" collection="array" open="(" separator="," close=")">
            #{noticeId}
        </foreach>
    </delete>
</mapper>
