<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysNotaryApplicationMapper">
    
    <resultMap type="SysNotaryApplication" id="SysNotaryApplicationResult">
        <result property="applicationId"    column="application_id"    />
        <result property="userId"    column="user_id"    />
        <result property="fileType"    column="file_type"    />
        <result property="fileUrl"    column="file_url"    />
        <result property="applicationInfo"    column="application_info"    />
        <result property="paymentStatus"    column="payment_status"    />
        <result property="paymentNo"    column="payment_no"    />
        <result property="paymentAmount"    column="payment_amount"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysNotaryApplicationVo">
        select application_id, user_id, file_type, file_url, application_info, payment_status, payment_no, payment_amount, status, del_flag, create_by, create_time, update_by, update_time, remark from sys_notary_application
    </sql>

    <select id="selectSysNotaryApplicationList" parameterType="SysNotaryApplication" resultMap="SysNotaryApplicationResult">
        <include refid="selectSysNotaryApplicationVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="fileType != null  and fileType != ''"> and file_type = #{fileType}</if>
            <if test="fileUrl != null  and fileUrl != ''"> and file_url = #{fileUrl}</if>
            <if test="applicationInfo != null  and applicationInfo != ''"> and application_info = #{applicationInfo}</if>
            <if test="paymentStatus != null  and paymentStatus != ''"> and payment_status = #{paymentStatus}</if>
            <if test="paymentNo != null  and paymentNo != ''"> and payment_no = #{paymentNo}</if>
            <if test="paymentAmount != null "> and payment_amount = #{paymentAmount}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectSysNotaryApplicationByApplicationId" parameterType="Long" resultMap="SysNotaryApplicationResult">
        <include refid="selectSysNotaryApplicationVo"/>
        where application_id = #{applicationId}
    </select>

    <insert id="insertSysNotaryApplication" parameterType="SysNotaryApplication" useGeneratedKeys="true" keyProperty="applicationId">
        insert into sys_notary_application
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="fileType != null and fileType != ''">file_type,</if>
            <if test="fileUrl != null">file_url,</if>
            <if test="applicationInfo != null">application_info,</if>
            <if test="paymentStatus != null">payment_status,</if>
            <if test="paymentNo != null">payment_no,</if>
            <if test="paymentAmount != null">payment_amount,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="fileType != null and fileType != ''">#{fileType},</if>
            <if test="fileUrl != null">#{fileUrl},</if>
            <if test="applicationInfo != null">#{applicationInfo},</if>
            <if test="paymentStatus != null">#{paymentStatus},</if>
            <if test="paymentNo != null">#{paymentNo},</if>
            <if test="paymentAmount != null">#{paymentAmount},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysNotaryApplication" parameterType="SysNotaryApplication">
        update sys_notary_application
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="fileType != null and fileType != ''">file_type = #{fileType},</if>
            <if test="fileUrl != null">file_url = #{fileUrl},</if>
            <if test="applicationInfo != null">application_info = #{applicationInfo},</if>
            <if test="paymentStatus != null">payment_status = #{paymentStatus},</if>
            <if test="paymentNo != null">payment_no = #{paymentNo},</if>
            <if test="paymentAmount != null">payment_amount = #{paymentAmount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where application_id = #{applicationId}
    </update>

    <delete id="deleteSysNotaryApplicationByApplicationId" parameterType="Long">
        delete from sys_notary_application where application_id = #{applicationId}
    </delete>

    <delete id="deleteSysNotaryApplicationByApplicationIds" parameterType="String">
        delete from sys_notary_application where application_id in 
        <foreach item="applicationId" collection="array" open="(" separator="," close=")">
            #{applicationId}
        </foreach>
    </delete>
</mapper>