<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysOwnerProfileMapper">
    
    <resultMap type="SysOwnerProfile" id="SysOwnerProfileResult">
        <result property="userId"    column="user_id"    />
        <result property="realName"    column="real_name"    />
        <result property="idCardNo"    column="id_card_no"    />
        <result property="idCardFrontUrl"    column="id_card_front_url"    />
        <result property="idCardBackUrl"    column="id_card_back_url"    />
        <result property="authStatus"    column="auth_status"    />
        <result property="buildingNo"    column="building_no"    />
        <result property="unitNo"    column="unit_no"    />
        <result property="roomNo"    column="room_no"    />
        <result property="isCommitteeMember"    column="is_committee_member"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysOwnerProfileVo">
        select user_id, real_name, id_card_no, id_card_front_url, id_card_back_url, auth_status, building_no, unit_no, room_no, is_committee_member, del_flag, create_by, create_time, update_by, update_time, remark from sys_owner_profile
    </sql>

    <select id="selectSysOwnerProfileList" parameterType="SysOwnerProfile" resultMap="SysOwnerProfileResult">
        <include refid="selectSysOwnerProfileVo"/>
        <where>  
            <if test="realName != null  and realName != ''"> and real_name like concat('%', #{realName}, '%')</if>
            <if test="idCardNo != null  and idCardNo != ''"> and id_card_no = #{idCardNo}</if>
            <if test="idCardFrontUrl != null  and idCardFrontUrl != ''"> and id_card_front_url = #{idCardFrontUrl}</if>
            <if test="idCardBackUrl != null  and idCardBackUrl != ''"> and id_card_back_url = #{idCardBackUrl}</if>
            <if test="authStatus != null  and authStatus != ''"> and auth_status = #{authStatus}</if>
            <if test="buildingNo != null  and buildingNo != ''"> and building_no = #{buildingNo}</if>
            <if test="unitNo != null  and unitNo != ''"> and unit_no = #{unitNo}</if>
            <if test="roomNo != null  and roomNo != ''"> and room_no = #{roomNo}</if>
            <if test="isCommitteeMember != null  and isCommitteeMember != ''"> and is_committee_member = #{isCommitteeMember}</if>
        </where>
    </select>
    
    <select id="selectSysOwnerProfileByUserId" parameterType="Long" resultMap="SysOwnerProfileResult">
        <include refid="selectSysOwnerProfileVo"/>
        where user_id = #{userId}
    </select>

    <insert id="insertSysOwnerProfile" parameterType="SysOwnerProfile">
        insert into sys_owner_profile
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="realName != null">real_name,</if>
            <if test="idCardNo != null">id_card_no,</if>
            <if test="idCardFrontUrl != null">id_card_front_url,</if>
            <if test="idCardBackUrl != null">id_card_back_url,</if>
            <if test="authStatus != null">auth_status,</if>
            <if test="buildingNo != null">building_no,</if>
            <if test="unitNo != null">unit_no,</if>
            <if test="roomNo != null">room_no,</if>
            <if test="isCommitteeMember != null">is_committee_member,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="realName != null">#{realName},</if>
            <if test="idCardNo != null">#{idCardNo},</if>
            <if test="idCardFrontUrl != null">#{idCardFrontUrl},</if>
            <if test="idCardBackUrl != null">#{idCardBackUrl},</if>
            <if test="authStatus != null">#{authStatus},</if>
            <if test="buildingNo != null">#{buildingNo},</if>
            <if test="unitNo != null">#{unitNo},</if>
            <if test="roomNo != null">#{roomNo},</if>
            <if test="isCommitteeMember != null">#{isCommitteeMember},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysOwnerProfile" parameterType="SysOwnerProfile">
        update sys_owner_profile
        <trim prefix="SET" suffixOverrides=",">
            <if test="realName != null">real_name = #{realName},</if>
            <if test="idCardNo != null">id_card_no = #{idCardNo},</if>
            <if test="idCardFrontUrl != null">id_card_front_url = #{idCardFrontUrl},</if>
            <if test="idCardBackUrl != null">id_card_back_url = #{idCardBackUrl},</if>
            <if test="authStatus != null">auth_status = #{authStatus},</if>
            <if test="buildingNo != null">building_no = #{buildingNo},</if>
            <if test="unitNo != null">unit_no = #{unitNo},</if>
            <if test="roomNo != null">room_no = #{roomNo},</if>
            <if test="isCommitteeMember != null">is_committee_member = #{isCommitteeMember},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where user_id = #{userId}
    </update>

    <delete id="deleteSysOwnerProfileByUserId" parameterType="Long">
        delete from sys_owner_profile where user_id = #{userId}
    </delete>

    <delete id="deleteSysOwnerProfileByUserIds" parameterType="String">
        delete from sys_owner_profile where user_id in 
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
</mapper>