<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysOwnerProfileMapper">
    
    <resultMap type="SysOwnerProfile" id="SysOwnerProfileResult">
        <id property="ownerId"    column="owner_id"    />
        <result property="userId"    column="user_id"    />
        <result property="realName"    column="real_name"    />
        <result property="phonenumber" column="phonenumber"  />
        <result property="idCardNo"    column="id_card_no"    />
        <result property="idCardFrontUrl"    column="id_card_front_url"    />
        <result property="idCardBackUrl"    column="id_card_back_url"    />
        <result property="authStatus"    column="auth_status"    />
        <result property="buildingNo"    column="building_no"    />
        <result property="unitNo"    column="unit_no"    />
        <result property="roomNo"    column="room_no"    />
        <result property="isCommitteeMember"    column="is_committee_member"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="authRemark"    column="auth_remark"    />
        <result property="isOwner"    column="is_owner"    />
        <result property="avatar"    column="avatar"    />
        <result property="nickName"    column="nick_name"    />
        <result property="status"    column="status"    />
    </resultMap>

    <sql id="selectSysOwnerProfileVo">
        select p.owner_id, p.user_id, p.real_name, p.phonenumber, p.id_card_no, p.id_card_front_url, p.id_card_back_url, p.auth_status, p.building_no, p.unit_no, p.room_no, p.is_committee_member, p.del_flag, p.create_by, p.create_time, p.update_by, p.update_time, p.remark, p.auth_remark,
               u.is_owner, u.avatar, u.nick_name, u.status
        from sys_owner_profile p
        left join sys_user u on p.user_id = u.user_id
    </sql>

    <select id="selectSysOwnerProfileList" parameterType="SysOwnerProfile" resultMap="SysOwnerProfileResult">
        <include refid="selectSysOwnerProfileVo"/>
        <where>
            <if test="realName != null  and realName != ''">
                AND p.real_name like concat('%', #{realName}, '%')
            </if>
            <if test="phonenumber != null and phonenumber != ''">
                 AND p.phonenumber like concat('%', #{phonenumber}, '%')
            </if>

            <if test="authStatus != null and authStatus != ''">
                AND p.auth_status = #{authStatus}
            </if>
            order by p.owner_id desc
        </where>
    </select>
    
    <select id="selectSysOwnerProfileByOwnerId" parameterType="Long" resultMap="SysOwnerProfileResult">
        <include refid="selectSysOwnerProfileVo"/>
        where p.owner_id = #{ownerId}
    </select>

    <select id="selectSysOwnerProfileByIdCardNo" parameterType="String" resultMap="SysOwnerProfileResult">
        <include refid="selectSysOwnerProfileVo"/>
        where p.id_card_no = #{idCardNo}
    </select>

    <select id="selectSysOwnerProfileByUserId" parameterType="Long" resultMap="SysOwnerProfileResult">
        <include refid="selectSysOwnerProfileVo"/>
        where p.user_id = #{userId}
    </select>
        
    <insert id="insertSysOwnerProfile" parameterType="SysOwnerProfile" useGeneratedKeys="true" keyProperty="ownerId">
        insert into sys_owner_profile
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="realName != null and realName != ''">real_name,</if>
            <if test="idCardNo != null and idCardNo != ''">id_card_no,</if>
            <if test="phonenumber != null and phonenumber != ''">phonenumber,</if>
            <if test="idCardFrontUrl != null">id_card_front_url,</if>
            <if test="idCardBackUrl != null">id_card_back_url,</if>
            <if test="authStatus != null">auth_status,</if>
            <if test="buildingNo != null">building_no,</if>
            <if test="unitNo != null">unit_no,</if>
            <if test="roomNo != null">room_no,</if>
            <if test="isCommitteeMember != null">is_committee_member,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="authRemark != null">auth_remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="realName != null and realName != ''">#{realName},</if>
            <if test="idCardNo != null and idCardNo != ''">#{idCardNo},</if>
            <if test="phonenumber != null and phonenumber != ''">#{phonenumber},</if>
            <if test="idCardFrontUrl != null">#{idCardFrontUrl},</if>
            <if test="idCardBackUrl != null">#{idCardBackUrl},</if>
            <if test="authStatus != null">#{authStatus},</if>
            <if test="buildingNo != null">#{buildingNo},</if>
            <if test="unitNo != null">#{unitNo},</if>
            <if test="roomNo != null">#{roomNo},</if>
            <if test="isCommitteeMember != null">#{isCommitteeMember},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="authRemark != null">#{authRemark},</if>
         </trim>
    </insert>

    <update id="updateSysOwnerProfile" parameterType="SysOwnerProfile">
        update sys_owner_profile
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="realName != null and realName != ''">real_name = #{realName},</if>
            <if test="idCardNo != null and idCardNo != ''">id_card_no = #{idCardNo},</if>
            <if test="phonenumber != null and phonenumber != ''">phonenumber = #{phonenumber},</if>
            <if test="idCardFrontUrl != null">id_card_front_url = #{idCardFrontUrl},</if>
            <if test="idCardBackUrl != null">id_card_back_url = #{idCardBackUrl},</if>
            <if test="authStatus != null">auth_status = #{authStatus},</if>
            <if test="buildingNo != null">building_no = #{buildingNo},</if>
            <if test="unitNo != null">unit_no = #{unitNo},</if>
            <if test="roomNo != null">room_no = #{roomNo},</if>
            <if test="isCommitteeMember != null">is_committee_member = #{isCommitteeMember},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="authRemark != null">auth_remark = #{authRemark},</if>
        </trim>
        where owner_id = #{ownerId}
    </update>

    <delete id="deleteSysOwnerProfileByOwnerId" parameterType="Long">
        delete from sys_owner_profile where owner_id = #{ownerId}
    </delete>

    <delete id="deleteSysOwnerProfileByOwnerIds" parameterType="String">
        delete from sys_owner_profile where owner_id in 
        <foreach item="ownerId" collection="array" open="(" separator="," close=")">
            #{ownerId}
        </foreach>
    </delete>

    <delete id="deleteSysOwnerProfileByUserIds" parameterType="String">
        delete from sys_owner_profile where user_id in
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>
</mapper>