<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysPropertyFundFlowMapper">
    
    <resultMap type="SysPropertyFundFlow" id="SysPropertyFundFlowResult">
        <result property="flowId"    column="flow_id"    />
        <result property="flowNo"    column="flow_no"    />
        <result property="flowType"    column="flow_type"    />
        <result property="amount"    column="amount"    />
        <result property="title"    column="title"    />
        <result property="description"    column="description"    />
        <result property="handler"    column="handler"    />
        <result property="approvalStatus"    column="approval_status"    />
        <result property="approverId"    column="approver_id"    />
        <result property="approvalTime"    column="approval_time"    />
        <result property="approvalNote"    column="approval_note"    />
        <result property="flowDate"    column="flow_date"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectSysPropertyFundFlowVo">
        select flow_id, flow_no, flow_type, amount, title, description, handler, approval_status, approver_id, approval_time, approval_note, flow_date, create_by, create_time, update_by, update_time from sys_property_fund_flow
    </sql>

    <select id="selectSysPropertyFundFlowList" parameterType="SysPropertyFundFlow" resultMap="SysPropertyFundFlowResult">
        <include refid="selectSysPropertyFundFlowVo"/>
        <where>  
            <if test="flowNo != null  and flowNo != ''"> and flow_no = #{flowNo}</if>
            <if test="flowType != null  and flowType != ''"> and flow_type = #{flowType}</if>
            <if test="amount != null "> and amount = #{amount}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="handler != null  and handler != ''"> and handler = #{handler}</if>
            <if test="approvalStatus != null  and approvalStatus != ''"> and approval_status = #{approvalStatus}</if>
            <if test="approverId != null "> and approver_id = #{approverId}</if>
            <if test="approvalTime != null "> and approval_time = #{approvalTime}</if>
            <if test="approvalNote != null  and approvalNote != ''"> and approval_note = #{approvalNote}</if>
            <if test="flowDate != null "> and flow_date = #{flowDate}</if>
        </where>
    </select>
    
    <select id="selectSysPropertyFundFlowByFlowId" parameterType="Long" resultMap="SysPropertyFundFlowResult">
        <include refid="selectSysPropertyFundFlowVo"/>
        where flow_id = #{flowId}
    </select>

    <insert id="insertSysPropertyFundFlow" parameterType="SysPropertyFundFlow" useGeneratedKeys="true" keyProperty="flowId">
        insert into sys_property_fund_flow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="flowNo != null and flowNo != ''">flow_no,</if>
            <if test="flowType != null and flowType != ''">flow_type,</if>
            <if test="amount != null">amount,</if>
            <if test="title != null and title != ''">title,</if>
            <if test="description != null">description,</if>
            <if test="handler != null">handler,</if>
            <if test="approvalStatus != null">approval_status,</if>
            <if test="approverId != null">approver_id,</if>
            <if test="approvalTime != null">approval_time,</if>
            <if test="approvalNote != null">approval_note,</if>
            <if test="flowDate != null">flow_date,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="flowNo != null and flowNo != ''">#{flowNo},</if>
            <if test="flowType != null and flowType != ''">#{flowType},</if>
            <if test="amount != null">#{amount},</if>
            <if test="title != null and title != ''">#{title},</if>
            <if test="description != null">#{description},</if>
            <if test="handler != null">#{handler},</if>
            <if test="approvalStatus != null">#{approvalStatus},</if>
            <if test="approverId != null">#{approverId},</if>
            <if test="approvalTime != null">#{approvalTime},</if>
            <if test="approvalNote != null">#{approvalNote},</if>
            <if test="flowDate != null">#{flowDate},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSysPropertyFundFlow" parameterType="SysPropertyFundFlow">
        update sys_property_fund_flow
        <trim prefix="SET" suffixOverrides=",">
            <if test="flowNo != null and flowNo != ''">flow_no = #{flowNo},</if>
            <if test="flowType != null and flowType != ''">flow_type = #{flowType},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="description != null">description = #{description},</if>
            <if test="handler != null">handler = #{handler},</if>
            <if test="approvalStatus != null">approval_status = #{approvalStatus},</if>
            <if test="approverId != null">approver_id = #{approverId},</if>
            <if test="approvalTime != null">approval_time = #{approvalTime},</if>
            <if test="approvalNote != null">approval_note = #{approvalNote},</if>
            <if test="flowDate != null">flow_date = #{flowDate},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where flow_id = #{flowId}
    </update>

    <delete id="deleteSysPropertyFundFlowByFlowId" parameterType="Long">
        delete from sys_property_fund_flow where flow_id = #{flowId}
    </delete>

    <delete id="deleteSysPropertyFundFlowByFlowIds" parameterType="String">
        delete from sys_property_fund_flow where flow_id in 
        <foreach item="flowId" collection="array" open="(" separator="," close=")">
            #{flowId}
        </foreach>
    </delete>
</mapper>