<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysPropertyContractMapper">

    <resultMap type="SysPropertyContract" id="SysPropertyContractResult">
        <result property="contractId"    column="contract_id"    />
        <result property="contractNo"    column="contract_no"    />
        <result property="communityId"    column="community_id"    />
        <result property="contractName"    column="contract_name"    />
        <result property="contractVersion"    column="contract_version"    />
        <result property="contractType"    column="contract_type"    />
        <result property="contractStage"    column="contract_stage"    />
        <result property="fileUrl"    column="file_url"    />
        <result property="effectiveDate"    column="effective_date"    />
        <result property="expiryDate"    column="expiry_date"    />
        <result property="contractAmount"    column="contract_amount"    />
        <result property="partyA"    column="party_a"    />
        <result property="partyB"    column="party_b"    />
        <result property="contractContent"    column="contract_content"    />
        <result property="importantClauses"    column="important_clauses"    />
        <result property="managerName"    column="manager_name"    />
        <result property="managerPhone"    column="manager_phone"    />
        <result property="applyTime"    column="apply_time"    />
        <result property="applyUserId"    column="apply_user_id"    />
        <result property="acceptTime"    column="accept_time"    />
        <result property="acceptUserId"    column="accept_user_id"    />
        <result property="completeTime"    column="complete_time"    />
        <result property="performanceStatus"    column="performance_status"    />
        <result property="entryChecklistUrl"    column="entry_checklist_url"    />
        <result property="propertyEntryChecklistUrl"    column="property_entry_checklist_url"    />
        <result property="monthlyChecklistUrl"    column="monthly_checklist_url"    />
        <result property="propertyMonthlyChecklistUrl"    column="property_monthly_checklist_url"    />
        <result property="rectificationNoticeUrl"    column="rectification_notice_url"    />
        <result property="rectificationResultUrl"    column="rectification_result_url"    />
        <result property="annualReportUrl"    column="annual_report_url"    />
        <result property="status"    column="status"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysPropertyContractVo">
        select contract_id, contract_no, community_id, contract_name, contract_version, contract_type, contract_stage, 
        file_url, effective_date, expiry_date, contract_amount, party_a, party_b, contract_content, important_clauses, 
        manager_name, manager_phone, apply_time, apply_user_id, accept_time, accept_user_id, complete_time, performance_status,
        entry_checklist_url, property_entry_checklist_url, monthly_checklist_url, property_monthly_checklist_url,
        rectification_notice_url, rectification_result_url, annual_report_url,
        status, del_flag, create_by, create_time, update_by, update_time, remark from sys_property_contract
    </sql>

    <select id="selectSysPropertyContractList" parameterType="SysPropertyContract" resultMap="SysPropertyContractResult">
        <include refid="selectSysPropertyContractVo"/>
        <where>
            <if test="contractName != null  and contractName != ''"> and contract_name like concat('%', #{contractName}, '%')</if>
            <if test="contractVersion != null  and contractVersion != ''"> and contract_version = #{contractVersion}</if>
            <if test="contractType != null  and contractType != ''"> and contract_type = #{contractType}</if>
            <if test="contractStage != null  and contractStage != ''"> and contract_stage = #{contractStage}</if>
            <if test="communityId != null "> and community_id = #{communityId}</if>
            <if test="effectiveDate != null "> and effective_date = #{effectiveDate}</if>
            <if test="expiryDate != null "> and expiry_date = #{expiryDate}</if>
            <if test="performanceStatus != null  and performanceStatus != ''"> and performance_status = #{performanceStatus}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>

    <select id="selectSysPropertyContractByContractId" parameterType="Long" resultMap="SysPropertyContractResult">
        <include refid="selectSysPropertyContractVo"/>
        where contract_id = #{contractId}
    </select>

    <insert id="insertSysPropertyContract" parameterType="SysPropertyContract" useGeneratedKeys="true" keyProperty="contractId">
        insert into sys_property_contract
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="contractNo != null and contractNo != ''">contract_no,</if>
            <if test="communityId != null">community_id,</if>
            <if test="contractName != null and contractName != ''">contract_name,</if>
            <if test="contractVersion != null">contract_version,</if>
            <if test="fileUrl != null and fileUrl != ''">file_url,</if>
            <if test="effectiveDate != null">effective_date,</if>
            <if test="expiryDate != null">expiry_date,</if>
            <if test="contractAmount != null">contract_amount,</if>
            <if test="partyA != null and partyA != ''">party_a,</if>
            <if test="partyB != null and partyB != ''">party_b,</if>
            <if test="contractContent != null and contractContent != ''">contract_content,</if>
            <if test="importantClauses != null and importantClauses != ''">important_clauses,</if>
            <if test="managerName != null and managerName != ''">manager_name,</if>
            <if test="managerPhone != null and managerPhone != ''">manager_phone,</if>
            <if test="contractType != null and contractType != ''">contract_type,</if>
            <if test="contractStage != null and contractStage != ''">contract_stage,</if>
            <if test="applyTime != null">apply_time,</if>
            <if test="applyUserId != null">apply_user_id,</if>
            <if test="acceptTime != null">accept_time,</if>
            <if test="acceptUserId != null">accept_user_id,</if>
            <if test="completeTime != null">complete_time,</if>
            <if test="performanceStatus != null and performanceStatus != ''">performance_status,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="contractNo != null and contractNo != ''">#{contractNo},</if>
            <if test="communityId != null">#{communityId},</if>
            <if test="contractName != null and contractName != ''">#{contractName},</if>
            <if test="contractVersion != null">#{contractVersion},</if>
            <if test="fileUrl != null and fileUrl != ''">#{fileUrl},</if>
            <if test="effectiveDate != null">#{effectiveDate},</if>
            <if test="expiryDate != null">#{expiryDate},</if>
            <if test="contractAmount != null">#{contractAmount},</if>
            <if test="partyA != null and partyA != ''">#{partyA},</if>
            <if test="partyB != null and partyB != ''">#{partyB},</if>
            <if test="contractContent != null and contractContent != ''">#{contractContent},</if>
            <if test="importantClauses != null and importantClauses != ''">#{importantClauses},</if>
            <if test="managerName != null and managerName != ''">#{managerName},</if>
            <if test="managerPhone != null and managerPhone != ''">#{managerPhone},</if>
            <if test="contractType != null and contractType != ''">#{contractType},</if>
            <if test="contractStage != null and contractStage != ''">#{contractStage},</if>
            <if test="applyTime != null">#{applyTime},</if>
            <if test="applyUserId != null">#{applyUserId},</if>
            <if test="acceptTime != null">#{acceptTime},</if>
            <if test="acceptUserId != null">#{acceptUserId},</if>
            <if test="completeTime != null">#{completeTime},</if>
            <if test="performanceStatus != null and performanceStatus != ''">#{performanceStatus},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysPropertyContract" parameterType="SysPropertyContract">
        update sys_property_contract
        <trim prefix="SET" suffixOverrides=",">
            <if test="contractNo != null and contractNo != ''">contract_no = #{contractNo},</if>
            <if test="communityId != null">community_id = #{communityId},</if>
            <if test="contractName != null and contractName != ''">contract_name = #{contractName},</if>
            <if test="contractVersion != null">contract_version = #{contractVersion},</if>
            <if test="fileUrl != null and fileUrl != ''">file_url = #{fileUrl},</if>
            <if test="effectiveDate != null">effective_date = #{effectiveDate},</if>
            <if test="expiryDate != null">expiry_date = #{expiryDate},</if>
            <if test="contractAmount != null">contract_amount = #{contractAmount},</if>
            <if test="partyA != null and partyA != ''">party_a = #{partyA},</if>
            <if test="partyB != null and partyB != ''">party_b = #{partyB},</if>
            <if test="contractContent != null and contractContent != ''">contract_content = #{contractContent},</if>
            <if test="importantClauses != null">important_clauses = #{importantClauses},</if>
            <if test="managerName != null and managerName != ''">manager_name = #{managerName},</if>
            <if test="managerPhone != null and managerPhone != ''">manager_phone = #{managerPhone},</if>
            <if test="contractType != null and contractType != ''">contract_type = #{contractType},</if>
            <if test="contractStage != null and contractStage != ''">contract_stage = #{contractStage},</if>
            <if test="applyTime != null">apply_time = #{applyTime},</if>
            <if test="applyUserId != null">apply_user_id = #{applyUserId},</if>
            <if test="acceptTime != null">accept_time = #{acceptTime},</if>
            <if test="acceptUserId != null">accept_user_id = #{acceptUserId},</if>
            <if test="completeTime != null">complete_time = #{completeTime},</if>
            <if test="performanceStatus != null and performanceStatus != ''">performance_status = #{performanceStatus},</if>
            <if test="entryChecklistUrl != null">entry_checklist_url = #{entryChecklistUrl},</if>
            <if test="propertyEntryChecklistUrl != null">property_entry_checklist_url = #{propertyEntryChecklistUrl},</if>
            <if test="monthlyChecklistUrl != null">monthly_checklist_url = #{monthlyChecklistUrl},</if>
            <if test="propertyMonthlyChecklistUrl != null">property_monthly_checklist_url = #{propertyMonthlyChecklistUrl},</if>
            <if test="rectificationNoticeUrl != null">rectification_notice_url = #{rectificationNoticeUrl},</if>
            <if test="rectificationResultUrl != null">rectification_result_url = #{rectificationResultUrl},</if>
            <if test="annualReportUrl != null">annual_report_url = #{annualReportUrl},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where contract_id = #{contractId}
    </update>

    <delete id="deleteSysPropertyContractByContractId" parameterType="Long">
        delete from sys_property_contract where contract_id = #{contractId}
    </delete>

    <delete id="deleteSysPropertyContractByContractIds" parameterType="String">
        delete from sys_property_contract where contract_id in
        <foreach item="contractId" collection="array" open="(" separator="," close=")">
            #{contractId}
        </foreach>
    </delete>
</mapper>
