<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysRegulationCategoryMapper">
    
    <resultMap type="SysRegulationCategory" id="SysRegulationCategoryResult">
        <result property="categoryId"    column="category_id"    />
        <result property="categoryName"    column="category_name"    />
        <result property="communityId"    column="community_id"    />
        <result property="orderNum"    column="order_num"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectSysRegulationCategoryVo">
        select category_id, category_name, community_id, order_num, create_by, create_time, update_by, update_time, remark from sys_regulation_category
    </sql>

    <select id="selectSysRegulationCategoryList" parameterType="SysRegulationCategory" resultMap="SysRegulationCategoryResult">
        <include refid="selectSysRegulationCategoryVo"/>
        <where>
            <if test="categoryName != null  and categoryName != ''">
                and category_name like concat('%', #{categoryName}, '%')
            </if>
            <if test="communityId != null ">
                and community_id = #{communityId}
            </if>
        </where>
        order by order_num asc
    </select>

    <select id="selectSysRegulationCategoryByCategoryId" parameterType="Long" resultMap="SysRegulationCategoryResult">
        <include refid="selectSysRegulationCategoryVo"/>
        where category_id = #{categoryId}
    </select>
        
    <insert id="insertSysRegulationCategory" parameterType="SysRegulationCategory" useGeneratedKeys="true" keyProperty="categoryId">
        insert into sys_regulation_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryName != null and categoryName != ''">category_name,</if>
            <if test="communityId != null">community_id,</if>
            <if test="orderNum != null">order_num,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null and updateBy != ''">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null and remark != ''">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryName != null and categoryName != ''">#{categoryName},</if>
            <if test="communityId != null">#{communityId},</if>
            <if test="orderNum != null">#{orderNum},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysRegulationCategory" parameterType="SysRegulationCategory">
        update sys_regulation_category
        <trim prefix="SET" suffixOverrides=",">
            <if test="categoryName != null and categoryName != ''">category_name = #{categoryName},</if>
            <if test="communityId != null">community_id = #{communityId},</if>
            <if test="orderNum != null">order_num = #{orderNum},</if>
            <if test="createBy != null and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null and remark != ''">remark = #{remark},</if>
        </trim>
        where category_id = #{categoryId}
    </update>

    <delete id="deleteSysRegulationCategoryByCategoryId" parameterType="Long">
        delete from sys_regulation_category where category_id = #{categoryId}
    </delete>

    <delete id="deleteSysRegulationCategoryByCategoryIds" parameterType="String">
        delete from sys_regulation_category where category_id in 
        <foreach item="categoryId" collection="array" open="(" separator="," close=")">
            #{categoryId}
        </foreach>
    </delete>
</mapper>
