<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysSuggestionPollMapper">
    
    <resultMap type="SysSuggestionPoll" id="SysSuggestionPollResult">
        <result property="pollId" column="poll_id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="formId" column="form_id"/>
        <result property="formName" column="form_name_label"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="status" column="status"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectSysSuggestionPollVo">
        select sp.poll_id,
               sp.title,
               sp.description,
               sp.form_id,
               ft.form_name as form_name_label,
               sp.start_time,
               sp.end_time,
               sp.status,
               sp.del_flag,
               sp.create_by,
               sp.create_time,
               sp.update_by,
               sp.update_time,
               sp.remark
          from sys_suggestion_poll sp
          left join sys_form_template ft on sp.form_id = ft.form_id
    </sql>

    <select id="selectSysSuggestionPollList" parameterType="SysSuggestionPoll" resultMap="SysSuggestionPollResult">
        <include refid="selectSysSuggestionPollVo"/>
        <where>  
            <if test="title != null  and title != ''"> and sp.title like concat('%', #{title}, '%')</if>
            <if test="description != null  and description != ''"> and sp.description like concat('%', #{description}, '%')</if>
            <if test="formId != null "> and sp.form_id = #{formId}</if>
            <if test="startTime != null "> and sp.start_time = #{startTime}</if>
            <if test="endTime != null "> and sp.end_time = #{endTime}</if>
            <if test="status != null  and status != ''"> and sp.status = #{status}</if>
        </where>
    </select>
    
    <select id="selectSysSuggestionPollByPollId" parameterType="Long" resultMap="SysSuggestionPollResult">
        <include refid="selectSysSuggestionPollVo"/>
        where sp.poll_id = #{pollId}
    </select>

    <insert id="insertSysSuggestionPoll" parameterType="SysSuggestionPoll" useGeneratedKeys="true" keyProperty="pollId">
        insert into sys_suggestion_poll
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="description != null">description,</if>
            <if test="formId != null">form_id,</if>
            <if test="startTime != null">start_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="status != null">status,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="description != null">#{description},</if>
            <if test="formId != null">#{formId},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="status != null">#{status},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateSysSuggestionPoll" parameterType="SysSuggestionPoll">
        update sys_suggestion_poll
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="description != null">description = #{description},</if>
            <if test="formId != null">form_id = #{formId},</if>
            <if test="startTime != null">start_time = #{startTime},</if>
            <if test="endTime != null">end_time = #{endTime},</if>
            <if test="status != null">status = #{status},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where poll_id = #{pollId}
    </update>

    <delete id="deleteSysSuggestionPollByPollId" parameterType="Long">
        delete from sys_suggestion_poll where poll_id = #{pollId}
    </delete>

    <delete id="deleteSysSuggestionPollByPollIds" parameterType="String">
        delete from sys_suggestion_poll where poll_id in 
        <foreach item="pollId" collection="array" open="(" separator="," close=")">
            #{pollId}
        </foreach>
    </delete>
</mapper>
